.header-1 {
    color: blue;
  }
  
  #paragraph-1 {
    color: rgb(217, 54, 49);
  }
  
  #paragraph-2 {
    color: #28ac5c;
  }
  
  /* We used 3 different ways to specify color:
  the word "blue", rgb selectors and hex codes */